/* index.css */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scroll */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .background-image{
  background-image: url('../src/images/wal.jpg');
  padding: 0px 0px;
  background-color: #17010b;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: auto;
} */


